@import url(/node_modules/xterm/dist/xterm.css);

/* Fallback */
@font-face {
  font-family: 'powerlinesymbols';
  src: url('./mononoki-nerd-font.woff') format('woff');
  unicode-range: U+e0a0-e0d7;
}

@font-face {
  font-family: 'mononoki';
  src: url('./mononoki-nerd-font.woff') format('woff');
}

html, body {
  background-color: black;
  width: 100%;
  height: 100%;
  user-select: none;
  border-width: 0;
  margin: 0;
  padding: 0;
}

textarea, input, *[contenteditable] {
  user-select: all;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  font-size: 10pt;
}

img {
  -webkit-user-drag: none;
}

body::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  border: 1px solid #888;
  mix-blend-mode: exclusion;
  pointer-events: none;
}

/* Tweak the terminal selection. */
.xterm-selection-layer {
  mix-blend-mode: exclusion;
}

.layout-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
}

.drag {
  -webkit-app-region: drag;
  display: flex;
  flex: auto;
  min-width: 10em;
  margin-top: 3px;
}

.flex {
  display: flex;
  flex: initial;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
}

.window-controls-mac {
  flex: none;
  width: 80px;
}

.icon, .item {
  transition-property: background-color, color, border-radius;
  transition-duration: 0.25s;
}

.icon {
  font-family: 'mononoki';
  font-size: large;
  padding: 0.5em;
  mix-blend-mode: exclusion;
}

.active>.icon {
  mix-blend-mode: normal;
}

.close.icon:hover {
  color: #F00;
  mix-blend-mode: normal;
}

.item {
  background-color: transparent;
  color: #FFF;
  padding: 0.5em;
  mix-blend-mode: exclusion;
  cursor: pointer;
}

.item:hover, .item:active, .active.item {
  color: #000;
  mix-blend-mode: normal;
}

.item:hover {
  background-color: rgba(255,255,255,0.5);
}

.item:active, .active.item {
  background-color: #FFF;
}

.item:hover, .item:active {
  border-radius: 1em;
}

.active.item, .active.item:hover, .active.item:active {
  border-radius: 0;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
}

.icon.item {
  width: 1em;
  text-align: center;
}

.flex>.item {
  display: flex;
  flex: auto;
  min-width: 8em;
  max-width: 100%;
}

.flex>.item>* {
  padding: 0 0.5em;
  margin: auto;
}

.flex>.item>.title-text {
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;
  text-overflow: ellipsis;
}

img[src^='fileicon://'] {
  max-width: 32px;
  max-height: 16px;
  vertical-align: middle;
}

.pty-container {
  margin: 0.25em;
  flex: auto;
  min-height: 0;
}

.inactive.pty-container {
  display: none;
}

::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(128,128,128,0.25);
  border-radius: 1em;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border: none;
  border-radius: 1em;
}

:focus::-webkit-scrollbar-thumb,
:focus>::-webkit-scrollbar-thumb,
:hover::-webkit-scrollbar-thumb,
:hover>::-webkit-scrollbar-thumb,
:active::-webkit-scrollbar-thumb,
:active>::-webkit-scrollbar-thumb,
.focus ::-webkit-scrollbar-thumb {
	background-color: rgba(128,128,128,0.5);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(128,128,128,0.75);
}
