@import url(../node_modules/tocas-ui/dist/tocas.css);
@import url(../node_modules/xterm/dist/xterm.css);

@font-face {
  font-family: "powerlinesymbols";
  src: url("./PowerlineExtraSymbols.woff") format('woff');
}

@font-face {
  font-family: "powerlinesymbols";
  src: url("./PowerlineExtraSymbols.woff") format('woff');
  font-weight: bold;
}

body {
  background-color: black;
  padding: 0.5em;
  overflow: hidden;
}

.pty-tabs>.tabbed.menu .drag {
  -webkit-app-region: drag;
  display: flex;
  flex: auto;
  min-width: 10em;
}

.pty-tabs>.tabbed.menu .flex {
  display: flex;
  flex: initial;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
}

.pty-tabs>.tabbed.menu .window-controls-mac {
  display: flex;
  flex: none;
  width: 80px;
}

.pty-tabs>.tabbed.menu .item {
  padding: 0.2em;
}

.pty-container {
  margin: -0.9em;
  height: calc(100vh - 3em);
}

.item>.close.button {
  margin-left: 0.1em;
  margin-right: -0.1em;
}

::-webkit-scrollbar {
	width: 0.5em;
	height: 0.5em;
	background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(255,255,255,0.1);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.2);
  border: none;
  border-radius: 1em;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255,255,255,0.4);
}
